@use "../../../styles/colors";
@use "../../../styles/typography";

$container-spacing: 0.625rem;

.profileLink {
  position: absolute;
  right: $container-spacing;
  bottom: $container-spacing;
  color: colors.$primary;
  text-decoration: none;
  @include typography.text-md;
}

.entryName {
  display: inline-block;
  color: colors.$dark-souls;
  @include typography.text-sm;

  &::after {
    content: ":";
  }
}

.entryValue {
  display: inline-block;
  margin-left: 0.5rem;
  @include typography.text-sm;
}

.entryList {
  & > * + * {
    margin-top: 0.5rem;
  }
}

.container {
  position: relative;
  padding: $container-spacing;
  background: colors.$secondary;
  border-radius: 0.5rem;
  line-height: 0;
}
