@use "../../../styles/colors";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  margin: 0 auto;
  border: 2px solid colors.$secondary;
  border-top: 2px solid gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
