@use "../../../styles/typography";

.container {
  flex: 1;
  max-width: 32rem;
  padding: 1.25rem 2.25rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 0.25rem;
  margin-bottom: 0.625rem;
}

.heading {
  @include typography.text-lg;
}
