@use "../../../styles/colors";

.fields {
  padding: 1.25rem 0.75rem;
  border: 1px solid colors.$secondary;
  border-radius: 0.5rem;
}

.submit {
  display: block;
  margin-top: 0.625rem;
  margin-left: auto;
}
