@use "colors";
@use "typography";

.button {
  width: fit-content;
  padding: 0.3125rem 0.95rem;
  border: none;
  border-radius: 0.3125rem;
  color: white;
  @include typography.text-md;
}

.primaryButton {
  @extend .button;
  background: colors.$primary;
}

.submitButton {
  @extend .button;
  background: colors.$success;

  &:disabled {
    background: colors.$smoke-screen;
  }
}

.input {
  display: block;
  width: 100%;
  max-width: 13.25rem;
  padding: 0.3125rem 0.625rem;
  border: 1px solid colors.$desired-dawn;
  border-radius: 0.25rem;
  @include typography.text-xs;

  &:read-only {
    color: colors.$muted;
  }

  &:invalid {
    border: 1px solid colors.$danger;
  }
}

.textarea {
  @extend .input;
  max-width: initial;
  min-height: 3.4375rem;
  resize: none;
}

.label {
  @include typography.text-xxs;

  & > .input {
    margin-top: 0.125rem;
  }
}
