@use "./styles/colors";
@use "./styles/typography";
@use "./styles/breakpoints";

.container {
  display: flex;
  justify-content: center;
}

.sidePanel {
  display: none;
}

.sidePanelHeading {
  font-weight: normal;
  @include typography.text-md;
}

.main {
  flex: 1;
  padding: 1.25rem 2rem;
}

.mainHeading {
  margin-left: 0.125rem;
  margin-bottom: 1rem;
  @include typography.text-lg;
}

@media screen and (min-width: breakpoints.$sm) {
  .container {
    justify-content: flex-start;
  }

  .sidePanel {
    display: flex;
    flex-direction: column;
    width: 9.5rem;
    min-height: 100vh;
    padding: 2.2rem 1.25rem;
    background: colors.$noghrei-silver;

    & > * + * {
      margin-top: 0.625rem;
    }
  }
}
