@use "../../../styles/typography";

.container {
  flex: 1;
  max-width: 30.25rem;
  padding: 1.25rem 2rem;
}

.header {
  margin-bottom: 1rem;
}

.heading {
  margin-left: 0.125rem;
  @include typography.text-lg;
}
